* {
  margin: 0%;
  padding: 0%;
  background-color: lightblue;
  box-sizing: border-box;
}
.header {
  margin: 2px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: darkblue;
  border: 1px solid rgba(255, 0, 0, 0.568);
  color: white;
}
.header > h1 {
  background-color: darkblue;
  font-weight: bolder;
  margin-bottom: 3px;
}
.header > p {
  background-color: darkblue;
  margin-bottom: 6px;
  font-weight: bold;
}
.header > a {
  background-color: lightyellow;
  margin-top: 6px;
  border-color: blue;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
}
.header > a:hover {
  color: white;
  background-color: red;
}
.left {
  padding: 10px;
  border: 50px;
  width: 64%;
  position: absolute;
  left: 0;
}
.left .content {
  box-shadow: 0px 0px 3px rgb(4 45 139);
  margin-bottom: 5px;
  position: relative;
}
.left .content h2 {
  text-align: center;
}
.left .content p {
  text-align: justify;
  font-weight: bold;
}
.left .content a {
  background-color: red;
  border-radius: 25px;
  padding: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-decoration: none;
}
.left .content a:hover {
  background-color: white;
  color: red;
}
.left .content .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  padding: 10px;
  border: 50px;
  width: 35%;
  position: absolute;
  margin-bottom: 3px;
  right: 0;
}
.right h2 {
  text-align: center;
}
.right .content {
  margin: 5px;
  box-shadow: 0px 0px 3px rgb(4 45 139);
  margin-bottom: 5px;
  position: relative;
  height: 60vh;
}
.right .content h2 {
  text-align: center;
}
.right .content p {
  text-align: justify;
  font-weight: bold;
}
.right .content .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .content a {
  background-color: red;
  border-radius: 25px;
  padding: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-decoration: none;
}
.right .content a:hover {
  background-color: white;
  color: red;
}
